.bg-video {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.hero {
  height: 100vh;
  background-image: url('../images/How-Drones-Are-Impacting-Public-Safety-Operations-scaled.jpg');
  background-position: 50%;
  background-repeat: repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 13%;
  padding-right: 13%;
  font-family: Suisseintl, sans-serif;
  display: flex;
  position: relative;
  overflow: hidden;
}

.overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, .4) 2%, rgba(0, 0, 0, .38) 52%, rgba(0, 0, 0, .16) 87%);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.content {
  z-index: 1;
  text-align: center;
  margin-top: 300px;
}

.h1 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Recoleta, sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 82px;
}

.form {
  height: 55px;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 6px 0 0 6px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 0;
}

.form:active, .form:focus {
  border-color: #fff;
}

.form::-ms-input-placeholder {
  color: #aaa;
  font-family: Suisseintl, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.form::placeholder {
  color: #aaa;
  font-family: Suisseintl, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.white-form {
  width: 500px;
  text-align: center;
  background-color: #fff;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding-right: 13px;
  display: flex;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .15);
}

.subhead {
  color: rgba(255, 255, 255, .84);
  letter-spacing: .2px;
  margin-bottom: 50px;
  font-family: Suisseintl, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
}

.submit-btn {
  letter-spacing: .2px;
  background-color: #074646;
  border-radius: 6px;
  font-family: Suisseintl, sans-serif;
  font-weight: 600;
}

.submit-btn:hover {
  background-color: #053535;
}

.form-block {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  margin-top: 28px;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.brand {
  float: none;
  color: #fff;
  letter-spacing: 8px;
  text-transform: uppercase;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  font-family: Suisseintl, sans-serif;
  font-size: 26px;
  font-weight: 100;
  line-height: 28px;
  display: flex;
}

.icon-img {
  width: 150px;
  background-color: #fff;
}

.brand-div {
  display: inline-block;
}

.copyright-div {
  z-index: 1;
  opacity: 1;
  color: rgba(255, 255, 255, .85);
  text-align: center;
  font-family: Suisseintl, sans-serif;
  font-weight: 300;
  position: absolute;
  top: auto;
  bottom: 10px;
  left: 0%;
  right: 0%;
}

.popular-text {
  max-width: 500px;
  color: rgba(255, 255, 255, .8);
  text-align: left;
  letter-spacing: .2px;
  margin-left: auto;
  margin-right: auto;
  font-family: Suisseintl, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
}

.underlined {
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, .18);
  line-height: 19px;
  transition: all .2s;
}

.underlined:hover {
  border-bottom-color: rgba(255, 255, 255, .65);
}

.bolder {
  color: rgba(255, 255, 255, .85);
  font-weight: 400;
}

.video-background {
  height: 100vh;
}

.copyright-text {
  text-shadow: 1px 1px 6px rgba(0, 0, 0, .3);
  display: inline-block;
}

.success {
  width: 500px;
  color: #fff;
  background-color: #074646;
  border-radius: 6px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}

.hero-without-image {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two {
  max-width: 750px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.subhead-copy {
  color: #000;
  letter-spacing: .2px;
  background-color: #fff;
  padding: 5px 10px;
  font-family: Suisseintl, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.link-block {
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .hero {
    justify-content: flex-start;
    padding-top: 190px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .content {
    margin-top: 200px;
  }

  .h1 {
    font-size: 65px;
    line-height: 79px;
  }

  .container {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    justify-content: flex-start;
    padding-top: 180px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .content {
    margin-top: 170px;
  }

  .h1 {
    font-size: 62px;
    line-height: 70px;
  }

  .white-form {
    width: 100%;
  }

  .copyright-div {
    flex: 1;
    align-items: flex-end;
    margin-top: 25px;
    padding-bottom: 15px;
    display: flex;
    position: static;
  }

  .success {
    width: 100%;
  }

  .hero-without-image {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    padding-top: 140px;
  }

  .overlay {
    background-image: linear-gradient(rgba(0, 0, 0, .48) 38%, rgba(0, 0, 0, .38) 72%);
  }

  .content {
    margin-top: 150px;
  }

  .h1 {
    font-size: 48px;
    line-height: 56px;
  }

  .white-form {
    width: 100%;
  }

  .copyright-div {
    flex: none;
    margin-top: 69px;
  }

  .popular-text {
    max-width: 100%;
    font-size: 14px;
  }

  .success {
    font-size: 16px;
    line-height: 23px;
  }

  .container {
    max-width: none;
  }
}


@font-face {
  font-family: 'Recoleta';
  src: url('../fonts/Recoleta-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Recoleta';
  src: url('../fonts/Recoleta-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Suisseintl';
  src: url('../fonts/SuisseIntl-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Suisseintl';
  src: url('../fonts/SuisseIntl-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Suisseintl';
  src: url('../fonts/SuisseIntl-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Suisseintl';
  src: url('../fonts/SuisseIntl-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}